$bg-blue-main:#1B65B9;
$bg-blue:#337480;
$border-radius:4px;

.entrance-enter-active {
  animation: entrance-in .5s;
}

.entrance-leave-active {
  animation: entrance-in .5s reverse;
}

@keyframes entrance-in {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
