$maxWidth=1200px

.theme-default-content:not(.custom) {
  max-width: $maxWidth
}

.page-nav{
  max-width: $maxWidth
}

@media (max-width: 419px){
  .theme-default-content div[class*="language-"] {
      margin: 0.85rem 0;
  }
}

.el-date-table td{
  width: 100px !important;
}

.el-table__body-wrapper{
  margin-top: -32px;
}
