// 颜色
$accentColor = #3875f6
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #3875f6
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

.el-date-table td{
  width: 100px !important;
}

.el-table__body-wrapper{
  margin-top: -32px;
}
